body {
    background: #c1bcbc;
    font-family: "PTSansRegular";
    font-size: 14px;
}

.hint {}

.Information {
    overflow: hidden;
    position: relative;
}

.Information-left {
    float: left;
    position: absolute;
}

.Information-left-img {
    width: 100%;
    border-radius: 50px;
}

.Information-right {
    float: right;
    margin-left: 79px;
}

.Information-right-h2 {
    padding-left: 50px;
    margin: 0;
    font-family: "PTSansBold";
    font-size: 17px;
    color: #333333;
    line-height: 1.25;
}

.Information-right-h3 {
    padding-left: 50px;
    margin: 0;
    font-size: 12px;
    padding-bottom: 10px;
    color: #949494;
    line-height: 1.25;
}

.Information-right-p {
    padding: 10px 0 9px 50px;
    border-radius: 5px;
    border: 1px solid #cecabf;
    margin: 0;
    background: #fffbc8;
    font-size: 14px;
    color: #333333;
}

.Information-right-income {
    padding: 0 30px 0 50px;
}

.Information-right-income-p {
    text-align: right;
    margin: 0 -20px 0 0px;
    padding: 10px 20px 10px 50px;
    border-bottom: 1px solid #cccccc;
}

.Information-right-income-rating {
    overflow: hidden;
    margin: 15px 0;
    border-left: 1px solid #cccccc;
}

.btn {}

.income-rating1 {
    overflow: hidden;
    background: url(../img/r1.png) no-repeat;
    padding: 3px 0 3px 10px;
}

.income-rating2 {
    overflow: hidden;
    margin: 3px 0;
    background: url(../img/r2.png) no-repeat;
    padding: 3px 0 3px 10px;
}

.income-rating3 {
    overflow: hidden;
    background: url(../img/r3.png) no-repeat;
    padding: 3px 0 3px 10px;
}

.Information-right-income-rating-p {
    float: left;
    margin: 0;
}

.Information-right-income-rating-span {
    float: right;
    font-weight: bold;
}

.Information-right-income-border {
    margin: 0 -20px 0 0px;
    padding: 0px 20px 0px 0px;
    border-bottom: 1px solid #cccccc;
}

.Information-right-income-Total {
    padding: 15px 0;
    overflow: hidden;
}

.Information-right-income-Total-p {
    float: left;
    margin: 0;
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.4;
}

.Information-right-income-Total-span {
    float: right;
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.4;
}

.Last-reviews {
    overflow: hidden;
}

.Last-reviews-left {
    float: left;
}

.Last-reviews-left-h2 {
    text-align: left;
    margin: 0;
    float: left;
    font-size: 18px;
    font-family: "Arial";
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.Last-reviews-left-a {
    text-align: right;
    display: block;
    float: right;
    margin-left: 10px;
    font-size: 14px;
    color: rgb(0, 93, 161);
    line-height: 1.629;
}

.Last-reviews-left-a:hover {
    text-decoration: none;
}

.Last-reviews-right {
    float: right;
}

.Last-reviews-right-p1 {
    float: left;
    margin: 0;
    background: url(../img/ser.png) no-repeat;
    padding: 0px 0px 1px 50px;
    background-position: center;
}

.Last-reviews-right-p2 {
    float: right;
    margin: 0;
    background: url(../img/comm.png) no-repeat;
    margin-left: 15px;
    padding: 0px 0px 0px 50px;
    background-position: bottom;
}

.Reviews {
    overflow: hidden;
}

.Reviews-comment {
    padding-top: 15px;
    position: relative;
}

.Reviews-comment-name {
    margin: 0;
    float: left;
    font-size: 14px;
    font-family: "Arial";
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.Reviews-comment-time {
    margin-left: 25px;
    color: #8a8a8a;
    font-size: 12px;
}

.Reviews-comment-Reviews {
    margin: 15px 0 0 0;
    width: 90%;
    padding: 20px 20px;
    background: #f2fbff;
    border: 1px #cfcfcf solid;
    position: relative;
}

.Reviews-comment-Reviews:before {
    content: " ";
    background: #fff url(../img/Shape1.png);
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 23px;
}

.icon {}

botton {
    display: block;
    background: #fdd639;
    color: rgb(51, 51, 51);
    font-family: "PTSansBold";
    width: 70%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    -moz-transform: matrix( 0.81730198900743, 0, 0, 0.81730198900743, 0, 0);
    -webkit-transform: matrix( 0.81730198900743, 0, 0, 0.81730198900743, 0, 0);
    -ms-transform: matrix( 0.81730198900743, 0, 0, 0.81730198900743, 0, 0);
    border-radius: 30px;
    font-size: 19.577px;
    margin-top: 30px;
}

.wrapper {
    width: 450px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
}

.wrapp {
    width: 450px;
    padding: 20px;
    margin: 0 auto;
    background: #f2f2f2;
}

.form {}

.mytextname {
    border-radius: 3px;
    margin: 5px;
}

.mytext {
    width: 100%;
    height: 65px;
    border-radius: 3px;
}